@media only screen and (max-width:1150px)  {
    .tile a[class^='slide']::after{
      display: none;
    }
}

@media only screen and (max-width:1050px)  {
    section { padding: 30px 0;}

    .row { padding: 0 4%; }

    .about-content {
        width: 100%;
    }

    .about-container {
        top: 15%;
    }

    .head {
      height: 1100px;
    }

    .face {
      top: 40%;
      left: 0;
      width: 100%;
      margin: auto;
    }

    .contact-form, .form { width: 100%;}

}

/* Small Phones from 0 to 480px */
@media only screen and (max-width: 580px) {
  .about-container {
      right: 0;
      left: 0;
      top: 15%;
      width: 100%;
  }

  .face {
    top: 52%;
    width: 150%;
    left: -120px;
  }
}


/* Small Phones from 0 to 480px */
@media only screen and (max-width: 480px) {
    .footer-nav, .social-links {
        float: none;
        margin: 10px auto;
        text-align: center;
    }
}
